.video {
    width: 30rem;
}

@media (max-width: 768px) {
    .video {
        width: 43rem !important;
    }
}
@media (max-width: 425px) {
    .video {
        width: 24rem !important;
    }
}
@media (max-width: 375px) {
    .video {
        width: 22rem !important;
    }
}

#equipe:hover {
    transition-duration: 1s;
    transform: scale(1.15, 1.15);
}